@model IEnumerable<WebApplication.Models.Car>
@{
    Layout = "/Views/MasterView.cshtml";
}
<table>
    <tr>
        <th id="main_title" colspan="3">
            <h1>О компании Tesla</h1>
        </th>
    </tr>
    <tr>
        <th id="about_us" colspan="3">
            <h4>Тесла была основана в 2003 году группой инженеров, которые хотели доказать, что людям не нужно идти на компромисс, чтобы управлять электромобилем – что электромобили могут быть лучше, быстрее и веселее, чем бензиновые автомобили. Сегодня Tesla строит не только полностью электрические транспортные средства, но и бесконечно масштабируемые продукты для производства и хранения чистой энергии. Тесла считает, что чем быстрее мир перестанет полагаться на ископаемое топливо и перейдет к нулевому уровню выбросов, тем лучше.
                Запущенный в 2008 году, родстер представил передовую аккумуляторную технологию Tesla и электрическую силовую установку. Оттуда Тесла разработал первый в мире премиальный полностью электрический седан с нуля-Model S, который стал лучшим автомобилем в своем классе в каждой категории. Сочетая безопасность, производительность и эффективность, Model S сбросила мировые ожидания для автомобиля 21-го века с самым длинным диапазоном любого электромобиля, воздушными обновлениями программного обеспечения, которые делают его лучше с течением времени, и рекордным временем разгона 0-60 миль в час 2,28 секунды, как измеряется Motor Trend.
                В 2015 году Tesla расширила свою линейку продуктов с помощью Model X, самого безопасного, быстрого и самого способного спортивного внедорожника в истории,который имеет 5-звездочные рейтинги безопасности в каждой категории от Национального управления безопасности дорожного движения. Завершая “секретный Генеральный план " генерального директора Илона Маска, в 2016 году Tesla представила модель 3, недорогой электромобиль большого объема, который начал производство в 2017 году. Вскоре после этого Tesla представила самый безопасный и удобный грузовик в истории - Tesla Semi, который призван сэкономить владельцам по крайней мере 200 000 долларов за миллион миль, основываясь только на стоимости топлива.
                Все автомобили Tesla производятся на ее заводе во Фримонте, штат Калифорния, где также производится подавляющее большинство компонентов автомобиля. Чтобы достичь нашей цели-иметь самые безопасные заводы в мире, Tesla применяет проактивный подход к безопасности, требуя от производственных работников участия в многодневной программе обучения, прежде чем когда-либо ступать на завод. С этого момента Tesla продолжает проводить обучение на рабочем месте и ежедневно отслеживать производительность, чтобы можно было быстро вносить улучшения. В результате уровень безопасности Tesla продолжает улучшаться, в то время как модель 3 выпускает пандусы.
                Чтобы создать целую устойчивую энергетическую экосистему, Tesla также производит уникальный набор энергетических решений, Powerwall, Powerpack и Solar Roof, что позволяет домовладельцам, предприятиям и коммунальным службам управлять производством, хранением и потреблением возобновляемой энергии. Поддержка автомобильной и энергетической продукции Теслы-это Gigafactory 1-средство, предназначенное для значительного снижения затрат на аккумуляторные батареи. Компания Tesla производит аккумуляторы в объемах, необходимых для достижения производственных целей, одновременно создавая тысячи рабочих мест.
                И это только начало. Поскольку Tesla строит свой самый доступный автомобиль, Tesla продолжает делать продукты доступными и доступными для все большего числа людей, в конечном счете ускоряя появление чистого транспорта и чистого производства энергии. Электромобили, аккумуляторы и возобновляемые источники энергии уже существуют независимо друг от друга, но в сочетании они становятся еще более мощными – вот будущее, которого мы хотим.
            </h4>
        </th>
    </tr>
</table>